{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', Arial, sans-serif;
  background-color: #202329;
  color: #e4e4e4;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

/* Cabeçalho */
header {
  text-align: center;
  margin-top: 50px;
}

header h1 {
  font-size: 2.5rem;
  color: #00b5cc;
  font-weight: 800;
  margin-bottom: 10px;
}

header p {
  color: #b5b5b5;
  margin-bottom: 30px;
  font-size: 1.2rem;
}

/* Área de busca */
.search-area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}

#searchInput {
  width: 300px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  text-align: center;
  outline: none;
}

#searchButton {
  background-color: #00b5cc;
  border: none;
  color: white;
  font-weight: bold;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#searchButton:hover {
  background-color: #00ff9f;
  color: #000;
}

/*Container dos personagens */
.character-container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 25px;
  width: 90%;
  max-width: 800px;
  margin-bottom: 60px;
}


.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #3c3e44;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  max-width: 700px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.02);
}

.card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}


.card-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card h2 {
  font-size: 1.4rem;
  color: #fff;
  margin-bottom: 8px;
}


.status {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 10px;
  font-size: 1rem;
}

.status-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.Alive {
  background-color: #55cc44;
}

.Dead {
  background-color: #d63d2e;
}

.unknown {
  background-color: #9e9e9e;
}


.location,
.episode {
  color: #9e9e9e;
  font-size: 0.9rem;
  margin-top: 5px;
}


.loading {
  text-align: center;
  margin-top: 40px;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 5px solid #333;
  border-top-color: #00b5cc;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto 10px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.erro {
  text-align: center;
  color: #ff6b6b;
  margin-bottom: 20px;
}


footer {
  text-align: center;
  color: #777;
  padding: 20px;
  margin-top: auto;
}

footer a {
  color: #00ff9f;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer a:hover {
  text-decoration: underline;
}
