body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #0b0c10;
  color: #c5c6c7;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  padding: 30px;
  background-color: #1f2833;
  color: #66fcf1;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.search-area {
  margin-top: 20px;
}

input {
  padding: 10px;
  width: 250px;
  border-radius: 5px;
  border: 1px solid #45a29e;
  background-color: #0b0c10;
  color: #fff;
}

button {
  padding: 10px 20px;
  background-color: #45a29e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #66fcf1;
  color: #0b0c10;
}

.character-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px;
}

.card {
  background-color: #1f2833;
  border: 1px solid #45a29e;
  border-radius: 10px;
  padding: 15px;
  width: 300px;
  text-align: center;
  color: #fff;
  box-shadow: 0 0 10px rgba(102, 252, 241, 0.2);
}

.card img {
  border-radius: 10px;
  width: 100%;
  height: auto;
}

.status-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.status-dot.Alive { background-color: #00ff00; }
.status-dot.Dead { background-color: #ff0000; }
.status-dot.unknown { background-color: #aaaaaa; }

.loading {
  color: #66fcf1;
}

.erro {
  color: #ff4444;
  font-weight: bold;
  margin-top: 20px;
}
